@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.font-magazine {
  font-family: 'Playfair Display', serif;
}

.nav-item {
  position: relative;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-item:hover {
  color: white;
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #f97316;
  transition: width 0.3s ease;
}

.nav-item:hover::after {
  width: 100%;
}

